CME538 - Introduction to Data Science
Big Project 

The purpose of the following code is to extract the data from a MS AccessData Base into smaller CSVs for their differnt folders.

In [48]:
import pyodbc
import pandas as pd

# Path to your Access database
db_path = r"C:\Users\17052\Downloads\chts2013_caltrans_raw_survey\CHTS_raw_caltrans_db.accdb"

# Connection string
conn_str = (
    r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
    r'DBQ=' + db_path + ';'
)

# Connect to MS Access
access_conn = pyodbc.connect(conn_str)
access_cursor = access_conn.cursor()

#for filetering students and Workers
sample_numbers_df = pd.read_csv('studentworkerSAMPN.csv')
sample_numbers_list = sample_numbers_df['0'].tolist()



# List of tables to export

tables = ['Deliv_PLACE','ASSN_TravelDate', 'Deliv_ACTIVITY', 'Deliv_HH', 'Deliv_LD', 'Deliv_PER', 'Deliv_HH', 'Deliv_VEH']  
tables = ['Deliv_PLACE', 'Deliv_ACTIVITY', 'Deliv_HH', 'Deliv_LD', 'Deliv_PER', 'Deliv_HH', 'Deliv_VEH']  
combined_df = None
des_samp = ['1031985','1032036','1032053','1032425', '1032558']
filtered_dfs = []
# Loop through each table and export data to CSV
for table in tables:
    print(f"Processing {table}...")

    # Query to select all data from the current table
    query = f"SELECT * FROM {table}"
    df = pd.read_sql(query, access_conn)
    filtered_df = df[df['SAMPN'].isin(sample_numbers_list)]


    
    #filtered_df['orgin sheet'] = table
    #filtered_dfs.append(df)
    filtered_dfs.append(filtered_df)

# Concatenate all filtered DataFrames into a single DataFrame
combined_df = pd.concat(filtered_dfs, ignore_index=True)
# Close the connection
access_conn.close()

Processing Deliv_PLACE...

C:\Users\17052\AppData\Local\Temp\ipykernel_2116\3016661164.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, access_conn)

Processing Deliv_ACTIVITY...
Processing Deliv_HH...
Processing Deliv_LD...
Processing Deliv_PER...
Processing Deliv_HH...
Processing Deliv_VEH...

In [50]:
print(sample_numbers_df)

               0
0      1047092.0
1      1048704.0
2      1048730.0
3      1048736.0
4      1048852.0
...          ...
33306  7212027.0
33307  7212128.0
33308  7212273.0
33309  7212324.0
33310  7212388.0

[33311 rows x 1 columns]

In [52]:
print(combined_df)

             SAMPN  PERNO  PLANO  TOTTR  HHMEM  PER1  PER2  PER3  PER4  PER5  \
0        1032036.0    1.0    1.0    NaN    NaN   NaN   NaN   NaN   NaN   NaN
1        1032036.0    1.0    2.0    3.0    2.0   4.0   5.0   NaN   NaN   NaN
2        1032036.0    1.0    3.0    5.0    4.0   2.0   3.0   4.0   5.0   NaN
3        1032036.0    1.0    4.0    2.0    1.0   2.0   NaN   NaN   NaN   NaN
4        1032036.0    1.0    5.0    2.0    1.0   2.0   NaN   NaN   NaN   NaN
...            ...    ...    ...    ...    ...   ...   ...   ...   ...   ...
1210378  7212273.0    NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN
1210379  7212324.0    NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN
1210380  7212324.0    NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN
1210381  7212324.0    NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN
1210382  7212388.0    NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN

         ...  VEHDRT  O_VEHDRT  VEHCYL  O_VEHCYL  VEHOUT VEHVLT VEHT  CNTV  \
0        ...     NaN       NaN     NaN       NaN     NaN    NaN  NaN   NaN
1        ...     NaN       NaN     NaN       NaN     NaN    NaN  NaN   NaN
2        ...     NaN       NaN     NaN       NaN     NaN    NaN  NaN   NaN
3        ...     NaN       NaN     NaN       NaN     NaN    NaN  NaN   NaN
4        ...     NaN       NaN     NaN       NaN     NaN    NaN  NaN   NaN
...      ...     ...       ...     ...       ...     ...    ...  ...   ...
1210378  ...     3.0      None     5.0      None     NaN    NaN  2.0   2.0
1210379  ...     3.0      None     2.0      None     NaN    NaN  2.0   2.0
1210380  ...     3.0      None     5.0      None     NaN    NaN  2.0   2.0
1210381  ...     1.0      None     4.0      None     NaN    NaN  2.0   2.0
1210382  ...     3.0      None     4.0      None     NaN    NaN  2.0   2.0

         WYCNTV O_WYCNTV
0           NaN      NaN
1           NaN      NaN
2           NaN      NaN
3           NaN      NaN
4           NaN      NaN
...         ...      ...
1210378     1.0     None
1210379    98.0     None
1210380    98.0     None
1210381    98.0     None
1210382     5.0     None

[1210383 rows x 362 columns]

In [56]:
#merge some of the columns that all hold catagorcal data 
combined_df['BUYERT'] = combined_df[['BUYER1', 'BUYER2', 'BUYER3', 'BUYER4', 'BUYER5', 'BUYER6', 'BUYER7']].values.tolist()
combined_df['HHNOVT'] = combined_df[['HHNOV1', 'HHNOV2', 'HHNOV3', 'HHNOV4', 'HHNOV5', 'HHNOV6', 'HHNOV7', 'HHNOV8']].values.tolist()
combined_df['LDPERT'] = combined_df[['LDPER1', 'LDPER2', 'LDPER3', 'LDPER4', 'LDPER5', 'LDPER6', 'LDPER7', 'LDPER8',]].values.tolist()
combined_df['TOOLRT'] = combined_df[['TOLLR1', 'TOLLR2', 'TOLLR3', 'TOLLR4', 'TOLLR5', 'TOLLR6', 'TOLLR7', 'TOLLR8', 'TOLLR9', 'TOLLR10']].values.tolist()
combined_df['TOOLBT'] = combined_df[['TOLLB1', 'TOLLB2', 'TOLLB3', 'TOLLB4', 'TOLLB5', 'TOLLB6', 'TOLLB7', 'TOLLB8', 'TOLLB9', 'TOLLB10']].values.tolist()

C:\Users\17052\AppData\Local\Temp\ipykernel_2116\808201354.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  combined_df['BUYERT'] = combined_df[['BUYER1', 'BUYER2', 'BUYER3', 'BUYER4', 'BUYER5', 'BUYER6', 'BUYER7']].values.tolist()
C:\Users\17052\AppData\Local\Temp\ipykernel_2116\808201354.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  combined_df['HHNOVT'] = combined_df[['HHNOV1', 'HHNOV2', 'HHNOV3', 'HHNOV4', 'HHNOV5', 'HHNOV6', 'HHNOV7', 'HHNOV8']].values.tolist()
C:\Users\17052\AppData\Local\Temp\ipykernel_2116\808201354.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  combined_df['LDPERT'] = combined_df[['LDPER1', 'LDPER2', 'LDPER3', 'LDPER4', 'LDPER5', 'LDPER6', 'LDPER7', 'LDPER8',]].values.tolist()
C:\Users\17052\AppData\Local\Temp\ipykernel_2116\808201354.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  combined_df['TOOLRT'] = combined_df[['TOLLR1', 'TOLLR2', 'TOLLR3', 'TOLLR4', 'TOLLR5', 'TOLLR6', 'TOLLR7', 'TOLLR8', 'TOLLR9', 'TOLLR10']].values.tolist()
C:\Users\17052\AppData\Local\Temp\ipykernel_2116\808201354.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  combined_df['TOOLBT'] = combined_df[['TOLLB1', 'TOLLB2', 'TOLLB3', 'TOLLB4', 'TOLLB5', 'TOLLB6', 'TOLLB7', 'TOLLB8', 'TOLLB9', 'TOLLB10']].values.tolist()

In [57]:
# List of columns to drop (more than 99% missing values)
columns_to_drop = ['O_PRKTY', 'PKAMT', 'PKUNT', 'PRKHW', 'O_PRKHW', 'EMPARK', 'O_TRANSYS', 'CEC', 'BUYER3', 'BUYER4', 'BUYER5', 'BUYER6', 'BUYER7', 'BUYER8', 'O_RESTY', 'O_OWN', 'HHNOV2', 'HHNOV3', 'HHNOV4', 'HHNOV5', 'HHNOV6', 'HHNOV7', 'HHNOV8', 'LDPER2', 'LDPER3', 'LDPER4', 'LDPER5', 'LDPER6', 'LDPER7', 'LDPER8', 'O_LDTPUPR', 'LDINI2', 'LDINI3', 'LDINI4', 'LDINI5', 'LDINI6', 'LDINI7', 'LDINI8', 'LDMODE2', 'LDMODE3', 'LDMODE4', 'LDDPMODE2', 'LDDPMODE3', 'LDDPMODE4', 'LDARMODE2', 'LDARMODE3', 'LDARMODE4', 'RACE3', 'RACE4', 'TPTYP2', 'TPTYP3', 'TPTYP4', 'TPTYP5', 'TPTYP6', 'TPTYP7', 'CLIP2', 'CLIP3', 'COMP', 'MET', 'O_WKSTAT', 'O_INDUS', 'O_OCCUP', 'WXST2_1', 'WXST2_2', 'DTYPE3', 'DTYPE4', 'DTYPE5', 'DTYPE6', 'DTYPE7', 'O_SUBUNT', 'O_SCHOL', 'PRESCH', 'O_PRESCH', 'O_EDUCA', 'TOLLR1', 'TOLLR2', 'TOLLR3', 'TOLLR4', 'TOLLR5', 'TOLLR6', 'TOLLR7', 'TOLLR8', 'TOLLR9', 'TOLLR10', 'TOLLB1', 'TOLLB2', 'TOLLB3', 'TOLLB4', 'TOLLB5', 'TOLLB6', 'TOLLB7', 'TOLLB8', 'TOLLB9', 'TOLLB10', 'NOGOWHY_O', 'InComplete', 'O_BODY', 'FUELT3', 'FUELT4', 'FUELT5', 'FUELT6', 'O_FUELT', 'O_VEHOWN', 'O_VEHDRT', 'O_VEHCYL', 'O_WYCNTV']
# of columns dropped: 106

# Drop the specified columns
df_dropped = combined_df.drop(columns=columns_to_drop, errors='ignore')

# list of columns to drop (out of scope information)(from investagation) 
columns_to_drop2 = ['VEHNO', 'O_PRKTY', 'O_TRANSYS', 'TripDistanceFlag', 'AirTripDistance', 'CTFIP', 'TRACT', 'PSTFIP', 'PERWGT', 'EXPPERWGT', 'RECMODE', 'RETMODE', 'STYPE', 'RIBUS', 'TEN', 'PREVCITY', 'PREVSTAT', 'PREVZIP', 'PHLNS', 'RECDate', 'ASSN', 'VEDTE', 'CMPLD', 'HH_Complete', 'HSTFIP', 'MTC_FInalFlag', 'ID', 'TPTYP1', 'TPTYP2', 'TPTYP3', 'TPTYP4', 'TPTYP5', 'TPTYP6', 'TPTYP7', 'O_TPTYP', 'CLIP1', 'CLIP2', 'CLIP3', 'COMP', 'MET', 'PASSTL', 'WNAME', 'WCITY', 'WSTAT', 'WXCORD', 'WYCORD', 'DTYPE1', 'DTYPE2', 'DTYPE3', 'DTYPE4', 'DTYPE5', 'DTYPE6', 'DTYPE7', 'INTRV', 'CMPLG', 'HVLOG', 'WCTFIP', 'WTRACT', 'SCTFIP', 'STRACT', 'WPrimaryCity', 'WSTFIP', 'W2PrimaryCity', 'W2STFIP', 'SPrimaryCity', 'SSTFIP', 'BODY', 'O_BODY', 'FUELT1', 'FUELT2', 'FUELT3', 'FUELT4', 'FUELT5', 'FUELT6', 'O_FUELT', 'CIGLT', 'VEHAQ', 'VEHOWN', 'O_VEHOWN', 'VEHINS', 'VEHOBD', 'VEHTRN', 'VEHDRT', 'O_VEHDRT', 'VEHCYL', 'O_VEHCYL', 'VEHOUT', 'VEHVLT', 'WYCNTV', 'O_WYCNTV','PRESCH', 'O_PRESCH', 'SNAME']
df_dropped = df_dropped.drop(columns=columns_to_drop2, errors='ignore')

# drop columns that we have merged data for since its in there already.
columns_to_drop3 = ['BUYER1', 'BUYER2', 'BUYER3', 'BUYER4', 'BUYER5', 'BUYER6', 'BUYER7', 'BUYER8', 'HHNOV1', 'HHNOV2', 'HHNOV3', 'HHNOV4', 'HHNOV5', 'HHNOV6', 'HHNOV7', 'HHNOV8', 'LDPER1', 'LDPER2', 'LDPER3', 'LDPER4', 'LDPER5', 'LDPER6', 'LDPER7', 'LDPER8', 'TOLLR1', 'TOLLR2', 'TOLLR3', 'TOLLR4', 'TOLLR5', 'TOLLR6', 'TOLLR7', 'TOLLR8', 'TOLLR9', 'TOLLR10', 'TOLLB1', 'TOLLB2', 'TOLLB3', 'TOLLB4', 'TOLLB5', 'TOLLB6', 'TOLLB7', 'TOLLB8', 'TOLLB9', 'TOLLB10']
df_dropped = df_dropped.drop(columns=columns_to_drop3, errors='ignore')

print(df_dropped)
# df_dropped.to_csv('prelimdata.csv', index=False)

             SAMPN  PERNO  PLANO  TOTTR  HHMEM  PER1  PER2  PER3  PER4  PER5  \
0        1032036.0    1.0    1.0    NaN    NaN   NaN   NaN   NaN   NaN   NaN
1        1032036.0    1.0    2.0    3.0    2.0   4.0   5.0   NaN   NaN   NaN
2        1032036.0    1.0    3.0    5.0    4.0   2.0   3.0   4.0   5.0   NaN
3        1032036.0    1.0    4.0    2.0    1.0   2.0   NaN   NaN   NaN   NaN
4        1032036.0    1.0    5.0    2.0    1.0   2.0   NaN   NaN   NaN   NaN
...            ...    ...    ...    ...    ...   ...   ...   ...   ...   ...
1210378  7212273.0    NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN
1210379  7212324.0    NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN
1210380  7212324.0    NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN
1210381  7212324.0    NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN
1210382  7212388.0    NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN

         ...  NOGOWHY  Moto_trip    YEAR  VEHT CNTV  \
0        ...      NaN        NaN     NaN   NaN  NaN
1        ...      NaN        NaN     NaN   NaN  NaN
2        ...      NaN        NaN     NaN   NaN  NaN
3        ...      NaN        NaN     NaN   NaN  NaN
4        ...      NaN        NaN     NaN   NaN  NaN
...      ...      ...        ...     ...   ...  ...
1210378  ...      NaN        NaN  2005.0   2.0  2.0
1210379  ...      NaN        NaN  1997.0   2.0  2.0
1210380  ...      NaN        NaN  2004.0   2.0  2.0
1210381  ...      NaN        NaN  2006.0   2.0  2.0
1210382  ...      NaN        NaN  2007.0   2.0  2.0

                                      BUYERT  \
0        [nan, nan, nan, nan, nan, nan, nan]
1        [nan, nan, nan, nan, nan, nan, nan]
2        [nan, nan, nan, nan, nan, nan, nan]
3        [nan, nan, nan, nan, nan, nan, nan]
4        [nan, nan, nan, nan, nan, nan, nan]
...                                      ...
1210378  [nan, nan, nan, nan, nan, nan, nan]
1210379  [nan, nan, nan, nan, nan, nan, nan]
1210380  [nan, nan, nan, nan, nan, nan, nan]
1210381  [nan, nan, nan, nan, nan, nan, nan]
1210382  [nan, nan, nan, nan, nan, nan, nan]

                                           HHNOVT  \
0        [nan, nan, nan, nan, nan, nan, nan, nan]
1        [nan, nan, nan, nan, nan, nan, nan, nan]
2        [nan, nan, nan, nan, nan, nan, nan, nan]
3        [nan, nan, nan, nan, nan, nan, nan, nan]
4        [nan, nan, nan, nan, nan, nan, nan, nan]
...                                           ...
1210378  [nan, nan, nan, nan, nan, nan, nan, nan]
1210379  [nan, nan, nan, nan, nan, nan, nan, nan]
1210380  [nan, nan, nan, nan, nan, nan, nan, nan]
1210381  [nan, nan, nan, nan, nan, nan, nan, nan]
1210382  [nan, nan, nan, nan, nan, nan, nan, nan]

                                           LDPERT  \
0        [nan, nan, nan, nan, nan, nan, nan, nan]
1        [nan, nan, nan, nan, nan, nan, nan, nan]
2        [nan, nan, nan, nan, nan, nan, nan, nan]
3        [nan, nan, nan, nan, nan, nan, nan, nan]
4        [nan, nan, nan, nan, nan, nan, nan, nan]
...                                           ...
1210378  [nan, nan, nan, nan, nan, nan, nan, nan]
1210379  [nan, nan, nan, nan, nan, nan, nan, nan]
1210380  [nan, nan, nan, nan, nan, nan, nan, nan]
1210381  [nan, nan, nan, nan, nan, nan, nan, nan]
1210382  [nan, nan, nan, nan, nan, nan, nan, nan]

                                                    TOOLRT  \
0        [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
1        [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
2        [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
3        [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
4        [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
...                                                    ...
1210378  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
1210379  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
1210380  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
1210381  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
1210382  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...

                                                    TOOLBT
0        [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
1        [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
2        [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
3        [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
4        [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
...                                                    ...
1210378  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
1210379  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
1210380  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
1210381  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
1210382  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...

[1210383 rows x 193 columns]

In [58]:
#
#df_dropped.to_csv('prelimdata.csv', index=False)

## this is for sorting and filtering

In [34]:

import numpy as np
# Define the columns of interest
# these are school or work indicators 
columns_of_interest = ['JOBS', 'SCHOL']
# Ensure missing values are handled properly some are nana some are none 
df_dropped[columns_of_interest] = df_dropped[columns_of_interest].replace([np.nan, None], pd.NA)
# Identify SAMPN values where at least one column of interest is filled
sample_numbers_to_keep = df_dropped[df_dropped[columns_of_interest].notna().any(axis=1)]['SAMPN'].unique()
# Ensure compatibility by converting to pandas Series
sample_numbers_to_keep_series = pd.Series(sample_numbers_to_keep)


# Keep only rows where SAMPN is in the list of sample numbers to keep

df_filtered = df_dropped[df_dropped['SAMPN'].isin(sample_numbers_to_keep)]
# Step 5: Reset index for clean output (optional)
df_filtered = df_filtered.reset_index(drop=True)

In [54]:
# Use np.isin() to filter the DataFrame
df_filtered2 = df_dropped[np.isin(df_dropped['SAMPN'], sample_numbers_to_keep)]

# Print the filtered DataFrame
print(df_filtered2)

Empty DataFrame
Columns: [SAMPN, PERNO, PLANO, TOTTR, HHMEM, PER1, PER2, PER3, PER4, PER5, NONHH, MODE, DYGOV, PRKTY, PXSTR, PRKMIN, PAYPK, TRANSYS, ROUTE, ACTCNT, ARR_HR, ARR_MIN, DEP_HR, DEP_MIN, TRIPDUR, ACTDUR, PNAME, CITY, STATE, ZIP, TripDistance, PPrimaryCity, TRIPNO, TCF, TCFPERWGT, EXPTCFPERWGT, ACTNO, ACTOTH, ACTHH, ACTOR, ACTWK, ACTSC, ACTRG, ACTFR, ACTOT, APURP, O_APURP, STIME, ETIME, INCEN, ILANG, AREA, STRATA, GTYPE, GFLAG, HHVEH, HHBIC, VEHNEW, RESTY, OWN, INCOM, HHSIZ, NONRELAT, HHEMP, HHSTU, HHLIC, DOW, HTRIPS, HCITY, HSTAT, HZIP, VEHOP, VEHPR, LDTRP, LDFlag, HPFlag, GPS_Complete, HCTRACT, HPrimaryCity, HHWGT, EXPHHWGT, GPS_MTC, LDNO, LDDAT, LDORG, LDOPNM, LDOCITY, LDOST, LDOZIP, LDOCNTR, LDDPNM, LDDCITY, LDDST, LDDZIP, LDDCNTR, LDTPURP, LDWHO, LDMHH, LDINI1, LDMODE1, ...]
Index: []

[0 rows x 193 columns]

In [ ]:
print(df_filtered['SAMPN'])

In [ ]:
print(type(df_dropped['SAMPN'][1]))

In [ ]:
df_filtered.to_csv('studentworker.csv', index=False)

In [ ]:
sample_numbers_to_keep = pd.DataFrame(sample_numbers_to_keep)
sample_numbers_to_keep.to_csv('studentworkerSAMPN.csv', index=False)

## this is for getting stuff out of highlighted cells dont worry too mich about this

In [ ]:
pip install openpyxl

In [ ]:
import openpyxl

# Load the Excel file
file_path = r"C:\Users\17052\Downloads\chts2013_caltrans_raw_survey\54730190.xlsx"  # Replace with your file path
wb = openpyxl.load_workbook(file_path)
# Select the active worksheet 
ws = wb.active  

# Define a list to store highlighted cells
highlighted_cells = []

# Define the target color in ARGB format (here is purple and red)
target_colors = {'FF8064A2','FFC00000'}  

# List to store highlighted cells in the first column
highlighted_cells = []

# Loop through each cell in the first column only
for row in ws.iter_rows(min_col=1, max_col=1):
    cell = row[0]
    # Check if the cell has a fill color that matches one of the target colors
    if cell.fill and cell.fill.start_color.index in target_colors:
        # Append only the cell value to the list if it matches a target color
        highlighted_cells.append(cell.value)

print(highlighted_cells)

In [ ]:
if "HH_Complete" in highlighted_cells:
    print('greg')

In [ ]:
# Define the target colors in ARGB format
target_colors = {'FFFFFF00'}  # #8064A2 and #FFFF00 in ARGB format

# List to store values of highlighted cells in the first column
highlighted_values = []

# Loop through each cell in the first column only
for row in ws.iter_rows(min_col=1, max_col=1):
    cell = row[0]
    # Check if the cell has a fill color that matches one of the target colors
    if cell.fill and cell.fill.start_color.index in target_colors:
        # Append only the cell value to the list if it matches a target color
        highlighted_values.append(cell.value)
print(highlighted_values)

In [ ]:
# Define the target colors in ARGB format
target_colors = {'FF92D050'}  # #8064A2 and #FFFF00 in ARGB format

# List to store values of highlighted cells in the first column
highlighted_values = []

# Loop through each cell in the first column only
for row in ws.iter_rows(min_col=1, max_col=1):
    cell = row[0]
    # Check if the cell has a fill color that matches one of the target colors
    if cell.fill and cell.fill.start_color.index in target_colors:
        # Append only the cell value to the list if it matches a target color
        highlighted_values.append(cell.value)

print(highlighted_values)

In [ ]:
df = pd.read_excel('raw_data_dic.xlsx')
# Select the first two columns
first_two_columns_df = df.iloc[:, :2]

# Display the new DataFrame
print(first_two_columns_df)

In [ ]:
column_names_list = df_dropped.columns.tolist()


df_filtered = first_two_columns_df[first_two_columns_df['Column Name'].isin(column_names_list)]

print(df_filtered)

In [ ]:
df_filtered.to_csv('prelim_dic_file.csv', index=False)